.bookform{
    padding: 5px;
}
.bookform form{
    border: 1px solid black;
    padding: 20px 5px;
}
.bkfic, .bkeic, .bknic {
    color: chocolate;
    font-size: 23px;
    margin-right: 15px;
}
.bookform form button{
    background-color: chocolate;
    color: white;
    border: chocolate;
    padding: 18px 60px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 52px;
}
.bkhdr{
    margin-bottom: 35px;
}
.bkfullname, .bkemail, .bknumbertickets{
    display: flex;
    border: 1px solid black;
    padding: 10px 15px !important;
    border-radius: 5px;
    margin-bottom: 25px;
    width: 35%;
}
.bkfin input, .bkein input, .bknin input{
    border: 0;
    font-size: 15.46px;
}